# SPDX-FileCopyrightText: 2024 Ondsel <development@ondsel.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

VITE_APP_API_URL=http://localhost:3030/
VITE_STRIPE_PURCHASE_PEER_URL=https://stripe_url_goes_here/foobar
LUA_API_URL=http://ip-or-domain-goes-here:3030
S3_BUCKET_URL=https://example-client-models-dev.s3.amazonaws.com
RESOLVE_DNS=0
VITE_MATOMO_URL=https://somesite/
VITE_MATOMO_SITE=1
