# SPDX-FileCopyrightText: 2025 Amritpal Singh <amrit3701@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

#########################
######## MongoDB ########
#########################
# Set to any port number to expose MongoDB on that port
EXPOSE_DB_PORT=27018

#########################
######## Backend ########
#########################
# Host name where backend service is accessible
HOSTNAME=localhost
# Port where backend service is accessible
PORT=3030
# URL where frontend is accessible
FRONTEND_URL=http://localhost:3000
# SMTP server hostname for email sending
SMTP_HOST=
# SMTP port (default: 465 for SSL)
SMTP_PORT=465
# SMTP username
SMTP_USER=
# SMTP password
SMTP_PASS=
# SMTP from user
SMTP_FROM=
# Default admin email (default: admin@local.test)
DEFAULT_ADMIN_EMAIL=
# Default admin username (default: admin)
DEFAULT_ADMIN_USERNAME=
# Default admin password (default: admin@local.test)
DEFAULT_ADMIN_PASSWORD=
# Default admin name (default: Admin)
DEFAULT_ADMIN_NAME=
# Secret for generating local signed URLs, if not set, random secret is generated each time the server starts
LOCAL_SIGNED_URL_SECRET="d4f5g6h7i8j9k0l1m2n3o4p5q6r7s8t9u0v1w2x3y4z5a6b7c8d9e0f1"

#########################
######## Frontend #######
#########################
# Backend API URL
VITE_APP_API_URL=http://localhost:3030/
# Matomo analytics URL
VITE_MATOMO_URL=http://localhost:7000
# Matomo site ID
VITE_MATOMO_SITE=1
# Stripe purchase peer URL
VITE_STRIPE_PURCHASE_PEER_URL=https://stripe_url_goes_here/foobar

#########################
####### FC Worker #######
#########################
# URL where backend is accessible 
BACKEND_URL=http://localhost:3030

#########################
######## Matomo ##########
#########################
# Matomo username (default: admin)
MATOMO_USERNAME=
# Matomo password (default: admin@local.test)
MATOMO_PASSWORD=
# Matomo email (default: admin@local.test)
MATOMO_EMAIL=

#########################
########## AWS ##########
#########################
USE_S3=true
# AWS access key
AWS_ACCESS_KEY_ID=
# AWS secret key
AWS_SECRET_ACCESS_KEY=
# AWS S3 bucket name for client models
AWS_CLIENT_MODELS_BUCKET=
# AWS region (e.g., us-east-1)
AWS_REGION=
